body {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
a {
  text-decoration: none;
}

/* #### diet styling #### */
.diet {
  background-image: url(../images/female/1-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.full-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.left-content {
  width: 38%;
}
.left-content h2 {
  font-size: 50px;
  line-height: 80px;
  color: rgb(36, 36, 36);
}
.left-content h2 span {
  color: green;
}
.left-content p {
  font-size: 16px;
  line-height: 30px;
  color: rgb(57, 57, 57);
}
.left-content a {
  background-image: linear-gradient(#5ba219, green);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.4s;
  margin-top: 1.5rem;
  display: inline-block;
  font-weight: 500;
}
.left-content a:hover {
  box-shadow: 3px 2px 11px -3px green;
}

.right-content {
  width: 45%;
}
.right-content img {
  width: 80%;
  float: right;
}

/* About me section styling */

.about-me {
  background-color: #e8f9df;
  background-image: url(../images/female/2bg.png);
  padding-top: 30px;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-main .left-section {
  width: 45%;
}
.aboutme-main .left-section img {
  width: 60%;
  margin-bottom: -6px;
}
.aboutme-main .right-section {
  width: 40%;
}
.aboutme-main .right-section h2 {
  font-size: 40px;
  color: rgb(36, 36, 36);
}
.aboutme-main .right-section p {
  font-size: 16px;
  line-height: 30px;
  color: rgb(57, 57, 57);
}
.aboutme-main .right-section a {
  background-image: linear-gradient(#5ba219, green);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.4s;
  margin-top: 1.5rem;
  display: inline-block;
  font-weight: 500;
}
.aboutme-main .right-section a:hover {
  box-shadow: 3px 2px 11px -3px green;
}
